.swiper-container-vertical >
.swiper-pagination-bullets 
.swiper-pagination-bullet{
	height: 12px;
	width: 12px;
	background-color: rgba(0,0,0,0.7);
	opacity: 0.1;
	margin: 0 auto;
	margin-bottom: 30px;
}
.swiper-container-vertical >
.swiper-pagination-bullets 
.swiper-pagination-bullet-active{
	width: 36px;
	height: 36px;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.7);
	opacity: 1;
}
.swiper-container-vertical >
.swiper-pagination-bullets 
.swiper-pagination-bullet:nth-child(1){
	background-image: url(../images/page1.svg);
}
.swiper-pagination-bullet:nth-child(2){
	background-image: url(../images/page2.svg);
}
.swiper-pagination-bullet:nth-child(3){
	background-image: url(../images/page3.svg);
}
.swiper-pagination-bullet:nth-child(4){
	background-image: url(../images/page4.svg);
}
.swiper-pagination-bullet:nth-child(5){
	background-image: url(../images/page5.svg);
}
.swiper-pagination-bullet:nth-child(6){
	background-image: url(../images/page5.svg);
}
