html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
ul li{list-style: none;}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
/*第一页样式*/
.introduce{background-color: rgb(132, 172, 161)}
.introduce .head{position: absolute;}
.introduce .head .photo{
  background-image: url(../images/1.jpg);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: contain;
  transition: box-shadow 0.5s linear;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  margin-top: -120px;
}
.introduce .head .photo:hover{
  box-shadow: 0px 0px 5px 2px skyblue;
}
.introduce .head ul li{
  list-style: none;
  position: relative;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-image: radial-gradient(rgb(132, 172, 161),rgba(255,255,255,0.6));
  animation: run 1s linear infinite alternate;
  box-shadow: 0px 0px 3px 0px #fff;
}
@keyframes run{
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
.introduce .head ul>li:nth-child(1){
  top:-180px;
  left: -100px;
}
.introduce .head ul>li:nth-child(2){
  top:-210px;
  right: -70px;
}
.introduce .head ul>li:nth-child(3){
  top:-110px;
  left: -110px;
}
.introduce .head ul>li:nth-child(4){
  top:-160px;
  right: -90px;
}
.introduce .shenghuo{
  position: absolute;
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}
.introduce .words{
  position: absolute;
  top: 480px;
}
.introduce .words p{
  font-size: 18px;
  height: 20px;
  line-height: 20px;
}
.introduce .line{
  width: 90%;
  height: 1px;
  margin-top: 100px;
  background-color: rgba(255,255,255,0.5);
}
/*第二页样式*/
.ability{background-color: rgb(76, 93, 141);}
.ability{
  flex-direction: column;
  justify-content: flex-start;
}
.ability h3{
  margin-top: 50px;
  font-size: 24px;
}
.ability .ability-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}
.ability-detail .left-circle{
  position: relative;
  width: 264px;
  height: 264px;
}
.left-circle .inner,.left-circle .outer{
  border-radius: 50%;
  border: 5px dashed #999;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
}
.ability-detail .left-circle .inner{
  width: 158px;
  height: 158px;
  margin-left: -79px;
  margin-top: -79px;
}
.ability-detail .left-circle .inner ul{
  width: 158px;
  height: 158px;
  animation:clockwise 30s infinite linear;
}
@keyframes clockwise{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.ability-detail .left-circle .inner li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  animation:anticlockwise 30s infinite linear;
}
@keyframes anticlockwise{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}
.ability-detail .left-circle .inner li:nth-child(1){
  background-color: rgba(238, 215, 163, 0.8);
  left: -20px;
  top: 50%;
  margin-top: -20px;
}
.ability-detail .left-circle .inner li:nth-child(2){
  background-color: rgba(152, 185, 204, 0.8);
  right: -20px;
  top: 50%;
  margin-top: -20px;
}
.ability-detail .left-circle .inner li:nth-child(3){
  background-color: rgba(181, 166, 170, 0.8);
  top: -20px;
  left: 50%;
  margin-left: -20px;
}
.ability-detail .left-circle .inner li:nth-child(4){
  background-color: rgba(158, 149, 140, 0.8);
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}
.ability-detail .left-circle .outer{
  width: 258px;
  height: 258px;
  margin-left: -129px;
  margin-top: -129px;
}
.ability-detail .left-circle .outer ul{
  width: 258px;
  height: 258px;
  animation:anticlockwise 30s infinite linear;
}
.left-circle .outer li{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  position: absolute;
  animation:clockwise 30s infinite linear;
}
.left-circle .outer li:nth-child(1){
  background-color: rgba(76, 157, 160, 0.8);
  left: -25px;
  top: 50%;
  margin-top: -25px;
}
.left-circle .outer li:nth-child(2){
  background-color: rgba(49, 65, 82, 0.8);
  right: -25px;
  top: 50%;
  margin-top: -25px;
}
.left-circle .outer li:nth-child(3){
  background-color: rgba(68, 71, 81, 0.8);
  top: -25px;
  left: 50%;
  margin-left: -25px;
}
.left-circle .outer li:nth-child(4){
  background-color: rgba(169, 123, 113, 0.8);
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}
.left-circle .outer li:nth-child(5){
  background-color: rgba(112, 98, 110, 0.8);
  left: 10px;
  top: 10px;
}
.left-circle .outer li:nth-child(6){
  background-color: rgba(54, 70, 94, 0.8);
  left: 10px;
  bottom: 10px;
}
.left-circle .outer li:nth-child(7){
  background-color: rgba(109, 136, 171, 0.8);
  right: 10px;
  top: 10px;
}
.left-circle .outer li:nth-child(8){
  background-color: rgba(133, 137, 179, 0.8);
  right: 10px;
  bottom: 10px;
}
.ability-detail .right-txt{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 110px;
}
.ability-detail .right-txt p{
  margin-top: 14px;
  font-size: 16px;
  line-height: 16px;
}
/*------------------个人技能样式-------------------*/
.skill{
  background-color: #a29971;
  flex-direction: column;
  justify-content: flex-start;
}
.skill h3{
  margin-top: 50px;
  font-size: 24px;
}
.skill .skill-list{
  margin-top: 20px;
}
.skill .skill-list ul{
  display: flex;
  width: 1050px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill .skill-list li{
  width: 180px;
  height: 280px;
  position: relative;
  margin-top: 30px;
}
.skill-list .before,.skill-list .back{
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: transform 1s;
  border: 5px solid #4d5e8f;
  border-radius: 15px;
  background: rgba(57, 60, 62, 0.8);
  transform-style: preserve-3d;
}
/*对于正面的样式编写*/
.skill-list .before{
  width: 205px;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
}
.skill-list .before img{
  width: 80px;
  height: 82px;
  margin-bottom: 10px;
}
.skill-list .before h4{
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}
.skill-list .before p{
  animation:txtR 3s infinite linear;
}
@keyframes txtR{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/*对于反面样式编写*/
.skill .back{
  width: 205px;
  height: 300px;
  padding: 10px 25px;
  box-sizing: border-box;
  transform: rotateY(180deg);
}
.skill .back p{
  text-align: left;
  position: relative;
  font-size: 14px;
  line-height: 40px;
}
.skill .back p:before{
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -4px;
}
.skill .skill-list li:hover .before{
  transform: rotateY(180deg);
}
.skill .skill-list li:hover .back{
  transform: rotateY(360deg);
}
/*------------------第三页样式---------------------*/
.experience{background-color: rgb(146, 91, 75);}
.experience{
  flex-direction: column;
  justify-content: flex-start;
}
.experience h3{
  margin-top: 100px;
  font-size: 24px;
}
.experience .carousel{
  display: flex;
  flex-direction: column;
}
.experience .carousel .ad-detail{
  margin-top: 100px;
  width: 900px;
  height: 352px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.carousel .ad-detail .logo{
  margin-right: 130px;
}
.carousel .ad-detail .logo .icon{
  background-image: url(../images/jmyp.png);
  width: 195px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel .ad-detail .logo h4{
  font-size: 20px;
  color:#945c4c;
  margin-top: 20px;
  font-weight: bolder;
}
.carousel .ad-detail .logo p{
  font-size: 15px;
  color: #9e6351;
  margin-top: 10px;
}
.carousel .ad-detail .info{
  text-align: left;
}
.carousel .ad-detail .info h4{
  color: #af7464;
  font-size: 20px;
  margin-bottom: 20px;
}
.carousel .ad-detail .info p{
  line-height: 30px;
  font-size: 16px;
  margin-top: 8px;
  position: relative;
}
.carousel .ad-detail .info p::before{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #af7464;
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: -2px;
}
.experience .carousel .indicators{
  overflow: hidden;
  width: 270px;
  margin: 80px auto;
}
.experience .carousel .indicators p{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #623c32;
  float: left;
  margin: 0 40px;
  cursor: pointer;
}
.experience .carousel .indicators .selected{
  background-color: #af7164;
}
/*-----------------------第四页样式-------------------------*/
.works{background-color: rgb(73, 130, 156);}
.works{
  flex-direction: column;
  justify-content: flex-start;
}
.works h3{
  margin-top: 40px;
  font-size: 24px;
}
.works .work-list{
  margin-top: 40px;
  position: relative;
}
.works .work-list li{
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 450px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: #fff;
  padding: 30px 10px;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.works .work-list li h4{
  color: #4985a0;
  font-size: 16px;
  margin-bottom: 30px;
}
.works .work-list li .info{
  font-size: 14px;
  color: #000;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}
.works .work-list li img{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.works .work-list li .notice{
  color: #000;
  font-size: 14px;
}
.work-list .left{
  width: 300px;
  height: 450px;
  position: absolute;
  left: -310px;
  top: 0;
}
.work-list .center{
  width: 300px;
  height: 450px;
  position: relative;
}
.works .ctrls{
  position: relative;
  z-index: 100;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.works .ctrls p{
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}
.works .ctrls .prev{
  background-color: red;
  /*background-image: url("../images/prev.svg");*/
}
.works .ctrls .next{
  background-color: green;
  /*background-image: url("../images/next.svg");*/
}
/*------------------------------第五页样式----------------------------*/
.contact{background-color: rgb(160, 151, 112);}
.contact{
  flex-direction: column;
  justify-content: flex-start;
}
.contact h3{
  font-size: 24px;
  margin-top: 30px
}
.contact .words{
  margin-top: 10px;
}
.contact .words span{
  font-size: 22px;
  margin: 0 15px;
}
.contact .words span:nth-child(1){
  color:red;
}
.contact .words span:nth-child(2){
  color:#3cf;
}
.contact .words span:nth-child(3){
  color:#6c0;
}
.contact .words span:nth-child(4){
  color:#f63;
}
.contact .idea{
  margin-top: 30px;
}
.contact .idea p{
  font-size: 18px;
  margin-top: 20px;
}
.contact .way{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.contact .way a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 15px;
}
.contact .way img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 5px;
}
.contact .mx{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: #756d4d;
  font-size: 12px;
  border-top: 1px solid #756d4d;
  padding: 10px;
}
.contact .mx p{
  margin-top: 8px;
}
/*中英切换部分样式*/
.switch{
  position: fixed;
  right: 60px;
  top: 15px;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(0,0,0,.1);
  z-index: 1000;
}
.switch p{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.switch .zh{
  left: 0;
  color: #fff;
  z-index: 100;
}
.switch .en{
  right: 0;
  color: rgba(0,0,0,.3);
  z-index: 100;
}
.switch .cover{
  left: 0;
  background-color: rgba(0,0,0,.8);
}